<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.niallmoran.runsync">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:name=".activities.RunSyncApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".services.StravaAuthReceiver"
            android:enabled="true"
            android:exported="true">



        </receiver>
        <receiver
            android:name=".services.SamsungHealthBackgroundReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".services.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ConnectActivity" />

        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.step_count;com.samsung.health.exercise" />

        <activity android:name=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="filter_view_http_runsync">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.runsync.com/auth” -->
                <data android:scheme="https"
                    android:host="www.runsync.com"/>
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>


            <intent-filter android:label="filter_view_runsync">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="runsync"
                    android:host="auth" />
            </intent-filter>

        </activity>
    </application>

</manifest>